body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-liberation-sans: "Liberation Sans";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #eaeaea;
  --color-royalblue: #2874f0;
  --color-gray-100: #878787;
  --color-gray-200: #848484;
  --color-gray-300: #172337;
  --color-gray-400: #212121;
  --color-gray-500: rgba(255, 255, 255, 0.98);
  --color-gray-600: rgba(255, 255, 255, 0);
  --color-forestgreen: #388e3c;
  --color-darkslategray-100: #454d5e;
  --color-darkslategray-200: #333;
  --color-dimgray: #565656;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-3xs-8: 9.8px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-49xl: 68px;
  --padding-48xl: 67px;
  --padding-12xs-6: 0.6px;
  --padding-210xl: 229px;
  --padding-mini: 15px;
  --padding-mini-4: 14.4px;
  --padding-37xl-4: 56.4px;
  --padding-37xl-6: 56.6px;
  --padding-46xl-9: 65.9px;
  --padding-47xl-1: 66.1px;
  --padding-28xl-6: 47.6px;
  --padding-28xl-8: 47.8px;
  --padding-52xl-6: 71.6px;
  --padding-52xl-8: 71.8px;
  --padding-44xl-2: 63.2px;
  --padding-44xl-4: 63.4px;
  --padding-26xl-9: 45.9px;
  --padding-27xl-1: 46.1px;
  --padding-45xl: 64px;
  --padding-12xs-4: 0.4px;
  --padding-base: 16px;
  --padding-10xl-6: 29.6px;
  --padding-4xs: 9px;
  --padding-lg-7: 18.7px;
  --padding-2xs-2: 10.2px;
  --padding-xl: 20px;
  --padding-15xl-9: 34.9px;
  --padding-12xs-8: 0.8px;
  --padding-19xl-1: 38.1px;
  --padding-xs-5: 11.5px;
  --padding-xs-7: 11.7px;
  --padding-48xl-5: 67.5px;
  --padding-48xl-7: 67.7px;
  --padding-65xl: 84px;
  --padding-65xl-2: 84.2px;
  --padding-4xs-5: 8.5px;
  --padding-4xs-7: 8.7px;
  --padding-38xl-3: 57.3px;
  --padding-38xl-5: 57.5px;
  --padding-41xl-8: 60.8px;
  --padding-42xl: 61px;
  --padding-35xl-1: 54.1px;
  --padding-35xl-3: 54.3px;
  --padding-21xl-6: 40.6px;
  --padding-21xl-8: 40.8px;
  --padding-6xl-7: 25.7px;
  --padding-6xl-9: 25.9px;
  --padding-48xl-9: 67.9px;
  --padding-49xl-1: 68.1px;
  --padding-15xl: 34px;
  --padding-15xl-2: 34.2px;
  --padding-41xl-7: 60.7px;
  --padding-41xl-9: 60.9px;
  --padding-11xl-6: 30.6px;
  --padding-11xl-8: 30.8px;
  --padding-38xl-1: 57.1px;
  --padding-37xl-8: 56.8px;
  --padding-38xl: 57px;
  --padding-lg-6: 18.6px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-31xl-3: 50.3px;
  --padding-31xl-5: 50.5px;
  --padding-38xl-7: 57.7px;
  --padding-33xl-6: 52.6px;
  --padding-33xl-8: 52.8px;
  --padding-72xl-6: 91.6px;
  --padding-72xl-8: 91.8px;
  --padding-40xl-1: 59.1px;
  --padding-40xl-3: 59.3px;
  --padding-57xl-5: 76.5px;
  --padding-57xl-7: 76.7px;
  --padding-62xl-8: 81.8px;
  --padding-63xl: 82px;
  --padding-35xl-7: 54.7px;
  --padding-35xl-9: 54.9px;
  --padding-13xl-5: 32.5px;
  --padding-13xl-7: 32.7px;
  --padding-44xl-1: 63.1px;
  --padding-44xl-3: 63.3px;
  --padding-8xl-5: 27.5px;
  --padding-8xl-7: 27.7px;
  --padding-26xl-7: 45.7px;
  --padding-46xl-1: 65.1px;
  --padding-46xl-3: 65.3px;
  --padding-13xl-8: 32.8px;
  --padding-14xl: 33px;
  --padding-11xl-3: 30.3px;
  --padding-12xl-7: 31.7px;
  --padding-0: 0px;

  /* border radiuses */
  --br-11xs: 2px;
  --br-9xs: 4px;
}
